[package]
name = "termie"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
eframe = "0.25.0"
nix = { version = "0.27.1", default-features = false, features = ["term", "process", "fs"] }
